  body {
        background-color: #d0eaf8;
    }

    .mobile-text {
        display: none;
        /* Hide mobile text by default */
    }

    /* Media query for screens smaller than 768px */
    @media (max-width: 768px) {
        .default-text {
            display: none;
            /* Hide default text on small screens */
        }

        .mobile-text {
            display: block;
            /* Show mobile text on small screens */
        }
    }


    .footbg {
        background-color: #368cbf;
        color: white;
    }

    footer a {
        color: white;
    }

    footer a:hover {
        color: #ccc;
    }

    .coffee {
        color: #ccc;

    }

    .coffee:hover {
        color: yellow;
    }


    .jumbotron {
        background-color: #368cbf;
        color: white;
    }

    .whitebg {
        background-color: #d0eaf8;

    }

    el-select-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }